
    <img src="./img/tomdutlo.png" class="card-img-top w-100" style="height: 50%;  " alt="...">
    <div class=" p-2 " style="height: 32%;" >
      <span class=" fw-bold" style="font-size: 16;">Bò nướng sốt tiêu xanh   </span>
     
    </div>  
    <div class=" " style="height:18%;" >
      <div class="d-flex  justify-content-between">
        <span class="ms-2 fw-bold" style="font-size: 16;">
         99.999 VND
        </span>
        <button type="button" class=" me-2 btn btn-warning btn-sm " data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">+</button>
      </div>
  
    </div>

<!-- Full screen modal -->
<!-- Modal -->
<div class="modal fade  " id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-modal="true" role="dialog"  >
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">Chi tiết món</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="./img/tomdutlo.png" class="card-img-top w-100" style="width: 100%;" alt="...">
        <h2>Tôm đút lò</h2>
        <div class="d-flex justify-content-between">
        <span class="fw-bold">
          đã bán 999+ 
        </span>
        <span  class="fw-bold">
          90.000đ
        </span>
        
        </div>
        <span>
          Tôm đút lò là một món ăn hấp dẫn và tinh tế, thường xuất hiện trong các bữa tiệc hoặc thực đơn nhà hàng. Món ăn này kết hợp vị ngọt tự nhiên của tôm tươi với các nguyên liệu khác để tạo ra một hương vị đậm đà và phong phú
        </span>
      </div>
      <div class="modal-footer d-flex flex-nowrap">
        <div class="input-group w-50">
          <span class="input-group-text">-</span>
          <input type="number" value="1" class="form-control text-center" min="0" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">+</span>
        </div>
        <button type="button" class="btn btn-warning text-white w-50" data-bs-dismiss="modal">chọn mua</button>
      </div>
    </div>
  </div>
</div>
