<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h2> Welcome back!</h2>
      </div>
  
      <!-- Login Form -->
      <form>
        
        <div class="mb-3">
            <label for="">Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
        
        <div class="mb-3">
            <label for="">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1">
          </div>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>