<form class="mt-3" action="">
<div class="card">
    <h3 class="card-header text-center">
      Tên sản phẩm
    </h3>
    <div class="card-body">
    <div class="text-center">
        <img class="" src="./img/sp1.jpg" alt="">
        <p class="card-text">Mô tả: With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
    </div>
      
      
         <h3>
            Tùy chọn:
        </h3>
        <!-- pick size -->
        <div class="mt-3 row">
            <label class="col-4" for=""> <strong>Size:</strong>   </label>
            <div class="col-8 row">
                <div class="col-3 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">M</label>
                  </div>
                  <div class="col-3 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">L</label>
                  </div>
                  <div class= "col-3 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Xl</label>
                  </div>
                </div>
            </div>
             <hr>
        <!-- pick đá -->
        <div class="mt-3 row">
        <label class="col-4" for=""> <strong>Đá:</strong>   </label>
        <div class="col-8 row">
            <div class="col-12 form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Ít đá</label>
              </div>
              <div class="col-12 form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Nhiều đá</label>
              </div>
              <div class="col-12 form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Không đá</label>
              </div>
            </div>
        </div>
         <hr>
        <!-- pick đường -->
        <div class="mt-3 row">
            <label class="col-4" for=""> <strong>Đường:</strong>   </label>
            <div class="col-8 row">
                <div class="col-12 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Ít đường</label>
                  </div>
                  <div class=" col-12 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Nhiều đường</label>
                  </div>
                  
                </div>

            </div>
             <hr>

      
    </div>
    <div class="card-footer text-center text-body-secondary">
        <div class="row">
            <div class="col-6">
                <input type="number">
            </div>
            <a href="#" class="col-6 btn btn-primary">Thêm vào giỏ hàng</a>
        </div>
       
    </div>
  </div>
</form>