 <!--Begin display -->
 <div class="w-100 text-end pt-3 pe-3" >
    <button type="button" class="btn btn-primary">Đóng</button>
</div>
 <div class="container ">

    <div class="header text-center pt-4">
        <h3 class="text-muted">KẾT QUẢ THANH TOÁN</h3>
    </div>
    <div *ngIf="RspCode!='00'||finalCheck==false" class="w-100 h-50 text-center ">
        <img  src="./img/cancel.png" style="width: 10%;" alt=""> <br>
        <h4 class="text-muted mt-4">Giao dịch không thành công !</h4>
        <h5 *ngIf="finalCheck==false" class="text-muted mt-4">Đã bị can thiệp đường dẫn !</h5>
    </div>
    <div *ngIf="RspCode=='00'&&finalCheck==true" class="w-100 h-50 text-center ">
        <img  src="./img/checked.png" style="width: 10%;" alt=""> <br>
        <h4 class="text-muted mt-4">Giao dịch thành công !</h4>
    </div>


    <div class="row ms-5">
    <h5 class="col-5">Thời gian giao dịch </h5 ><h5 class="col-1">:</h5> <h5 class="col-6">{{datePayment}} </h5>
    <h5 class="col-5">Mã đơn </h5><h5 class="col-1">:</h5> <h5 class="col-6">{{idOrder}} </h5>
    <h5 class="col-5">Số tiền </h5><h5 class="col-1">:</h5><h5 class="col-6">{{Amount}} </h5>
    <h5 class="col-5">Ngân hàng</h5><h5 class="col-1">:</h5> <h5 class="col-6">{{bank}} </h5>
    </div>

    
    <p>
        &nbsp;
    </p>
  
</div>  