  <div>

    <div class="sticky-top border-bottom ">
    <div class="d-flex  flex-nowrap bg-white">
      <div class="mx-3 mt-1">
        <a [routerLink]="['/']"  >
        <svg xmlns="http://www.w3.org/2000/svg" style="color: darkorange;" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
      </a>
      </div >
      <div  class="w-75">
        <input type="email" class="form-control" id="exampleInputEmail1" 
        placeholder="Tìm món ăn"
        aria-describedby="emailHelp">
      </div>
    </div>
  <!-- Nav   scrollspy -->
    <nav id="navbar-example2" class="navbar bg-white px-3 "> 
      <div class="nav nav-pills ">
          <a class="nav-link a_Tab" href="/Menu#scrollspyHeading1">Thức Ăn</a>
          <a class="nav-link a_Tab" href="/Menu#scrollspyHeading2">Đồ Uống</a>
          <a class="nav-link a_Tab" href="/Menu#scrollspyHeading3">Khác</a>
      </div>
    </nav>
  </div>
    
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
    class="scrollspy-example bg-white p-1 rounded-2" tabindex="0">
      <h4 id="scrollspyHeading1">Thức ăn</h4>
      <div class="d-flex flex-wrap  w-100 ">
        <!-- food -->
        
        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>
      </div>


    

      <h4 id="scrollspyHeading2">Đồ Uống</h4>
      <div class="d-flex flex-wrap  w-100 ">
        <!-- Drink -->
        
        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>
      </div>

      <h4 id="scrollspyHeading3">Khác </h4>
      <div class="d-flex flex-wrap  w-100 ">
        <!-- Drink -->
        
        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>

        <div class=" mx-2 my-2 rounded  shadow" style="width: 45% ; ">
          <app-product></app-product>  
        </div>
      </div>


  
    </div>

  </div>
