<div>
  <!-- search -->
  <form class="row d-flex" action="">
    <div class="col-12">
      <input
        class="form-control"
        type="text"
        
        placeholder="Find"
        
      />
    </div>
  </form>


  <!-- navbar List -->
  <ul class="nav nav-pills mt-3">
    <li class="nav-item">
      <a class="nav-link text-dark "
      [ngClass]="{'text-dark': activeLink1 !== '1','active': activeLink1 === '1'}"
      (click)="setActive('1')"
      >Active</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link text-dark" 
      [ngClass] = "{'text-dark': activeLink1 !== '2','active': activeLink1 === '2'}"
      (click)="setActive('2')"
      >Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" 
      [ngClass] = "{'text-dark': activeLink1 !== '3','active': activeLink1 === '3'}"
      (click)="setActive('3')"
      >Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" 
      [ngClass] = "{'text-dark': activeLink1 !== '4','active': activeLink1 === '4'}"
      (click)="setActive('4')"
      >Link</a>
    </li>
  </ul>


  <!-- product list -->

  <!---->
  <!-- <div *ngFor="let x of listType">
    <div class="mt-3" >
      
      <div class="row mt-3">
        ádasdsa
        <div class="col-6" *ngFor="let x of list">
          <div class="card" style="height: 50%">
            <img src="./img/sp1.jpg" class="card-img-top" alt="..." />
            <div class="card-body row">
              <div class="col-10">
                <h5 class="card-title" style="color: orange;">phindi Cadila</h5>
                <p class="card-text" >19.000đ</p>
              </div>
              <div class="mt-2 col-2" (click)="pickProduct(1)" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                  </svg>
              </div>
              <div class="mt-2 col-2" >
               <button (click)="addProductToCart(x)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
              </svg> 
               </button>  
        
            </div>
             
                
           
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div> -->
  <div *ngFor="let product of products">
    <button (click)="addToCart(product)">Thêm vào giỏ</button>
  </div>
  
</div>
