  <div>
    <div class="sticky-top border-bottom ">
    <div class="d-flex  flex-nowrap bg-white">
      <div class="mx-3 mt-1">
        <a [routerLink]="['/']"  >
        <svg xmlns="http://www.w3.org/2000/svg" style="color: darkorange;" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
      </a>
      </div>
      <div class=" input-group w-75">
        <input type="email" (keydown.enter)="searchFood()" [(ngModel)]="inputSeach" class="form-control" id="exampleInputEmail1" 
        placeholder="Tìm món ăn"
        aria-describedby="emailHelp">
        <button class="input-group-text " (click)="clearFormSearch()" [class.d-none]="searching==false" style="background: none;  ">x</button>
      </div>
    </div>
  <!-- Nav scrollspy -->
    <nav id="navbar-example2 navbar-list-food" [class.d-none]="searching" class="navbar bg-white px-3 "> 
      <div *ngIf="listCate" class="nav nav-pills ">
          <a *ngFor="let element of listCate" class="nav-link a_Tab" [href]="'/Menu#scrollspyHeading'+element.idCategory">{{element.nameCategory}}</a>
      </div>
    </nav>


  </div>
    <!-- list search -->
  <div id="for-search" [class.d-none]="searching==false" class="d-flex flex-wrap" >
    <div class="d-flex justify-content-center w-100 h-100 my-5" [class.d-none]="!loadingCallAPI"> 
      <div class="spinner-border text-warning  "  role="">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    
    <ng-container *ngFor="let product of listSeach">
      <div class="mb-2 mx-2 rounded  shadow w-100" >
         <app-product-ngang [product]="product"></app-product-ngang>
    </div>
     </ng-container>
    
  </div>
    <!--  end list search -->

    <div id="list-food" [class.d-none]="searching"  data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
    class="scrollspy-example bg-white d-none p-1 rounded-2" tabindex="0">

    <div *ngIf="listCate" class="nav nav-pills ">
     <div *ngFor="let cate of listCate" >
      <h4 [id]="'scrollspyHeading'+cate.idCategory">{{cate.nameCategory}}</h4>
      <div   class="d-flex flex-wrap  w-100 ">
      
         <ng-container *ngFor="let product of listFood">
          <div class="mb-2 mx-2 rounded  shadow" style="width: 45% ;"*ngIf="cate.idCategory == product.idCategory">
            <app-product *ngIf="cate.idCategory==product.idCategory" [product]="product"></app-product>  
            
        </div>
         </ng-container>
        
  
      </div>+
    </div>
  </div>
      

  
    </div>

  </div>
<div style="height: 80px;" ></div>