  
  <div *ngIf="product" class="row">
    <div class="col-5">
        <img [src]="srcImage" class="card-img-top w-100 h-100"  alt="...">
    </div>
    <div class="col-7">
        <div class=" p-2 " style="height: 70%;" >
            <span class=" fw-medium " style="font-size: 16;">{{product.nameFood}}</span>  <br>
            <span *ngIf="product.note.length>30"  style="font-size: 15px;">{{ limitedStringShow(product.note)}}<span data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModalFullscreen'+product.idFood" >...xem thêm</span></span>  
          </div>  
          <div class=" pb-1" style="height:30%;" >
            <div class="d-flex  justify-content-between">
              <span class="ms-2 fw-medium" style="font-size: 16;">
                
                {{ formatPrice(product.priceFood)}} 
              </span>
              <button type="button" class=" me-2 btn btn-warning btn-sm " data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModalFullscreen'+product.idFood"
              >+</button>
            </div>
        
          </div>

    </div>
    


</div>

<!-- Full screen modal -->
<!-- Modal -->
<div class="modal fade  " [id]="'exampleModalFullscreen'+product.idFood" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-modal="true" role="dialog"  >
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title fs-4" id="exampleModalFullscreenLabel">Chi tiết món</span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="{{srcImage}}" class="card-img-top w-100" style="width: 100%;" alt="...">
          <h2>{{product.nameFood}}</h2>
          <div class="d-flex justify-content-between">
          <span class="fw-medium">
            đã bán 999+ 
          </span>
          <span  class="fw-medium">
             {{ formatPrice(product.priceFood)}}
          </span>
          
          </div>
          <span>
            {{product.note}}
          </span>
        </div>
        <div class="modal-footer d-flex flex-nowrap">
          <div class="input-group w-50">
            <button class="input-group-text" (click)="downQuantity()">-</button>
            <input type="number"  (change)="validQuantity($event)" [(ngModel)]="quantity" value="quantity" class="form-control text-center" min="0" aria-label="Amount (to the nearest dollar)">
            <button class="input-group-text" (click)="upQuantity()">+</button>
          </div>
          
          <button type="button" (click)="show()" class="btn btn-warning text-white w-50" data-bs-dismiss="modal">chọn mua</button>
        </div>
      </div>
    </div>
  </div>